* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    justify-content: space-around;
}

.debug {
    border: 1px solid black;
}


/* ********************************************************** */

#navbar {
    width: 100%;
}

@media screen and (min-width: 500px) {
    #navbar {
        position: fixed;
        top: 0;
    }
}


.navbar_container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10vw 10vw 12vw 10vw 12vw 10vw 12vw 10vw 10vw;
    height: 5vw;
}


#navbar a {
    text-align: center;
    text-decoration: none;
    width: 11vw;
    font-size: 18px;
    color: black;
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 8px;
}


#navbar a:after {
    display: block;
    content: '';
    border-bottom: solid 1px black;
    transform: scaleX(0);
    transition: transform 750ms ease-in-out;
    padding-bottom: 10px;
}

#navbar a:hover:after {
    transform: scaleX(1);
}

#WAI {
    columns: 3/4;
}

#HCIH {
    columns: 5/6;
}

#C {
    columns: 7/8;
}

/* end navbar ************************************************************** */

.down {
    
    transform: translateY(-700px);
    font-size: 120px;
    font-weight: bolder;
    transition: 1.5s;
    display: inline-block;
    width: 10vw;
}

.down p {
    transform: rotate(-90deg);
    margin-top: 350px;
    margin-left: -20px;
    color: white;
}

.down:after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 110px solid white;
    border-left: 155px solid #eaca17;
}

.yellow {
    background-color: #eaca17;
}

.yellow:after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 110px solid white;
    border-left: 155px solid #eaca17;

}

.green {
    background-color: #7ffc02;
}

.green:after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 110px solid white;
    border-left: 155px solid #7ffc02;
}

.blue {
    background-color: #01effc;
}

.blue:after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 110px solid white;
    border-left: 155px solid #01effc;
}

.purple {
    background-color: #f700fc;
}

.purple:after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 110px solid white;
    border-left: 155px solid #f700fc;
}

.up {
    width: 10vw;
    height: 650px;
    transform: translateY(-700px);
    font-size: 120px;
    font-weight: bolder;
    color: white;
    transition: 1.5s;
}

#upFamily {
    height: 650px;
    margin-left: 10vw;
    margin-right: 12vw;
}

#upBiker {
    height: 650px;
    margin-right: 12vw;
}

#upChef {
    height: 650px;
    margin-right: 12vw;
}

#upCoding {
    height: 650px;
    margin-right: 10vw;
}

/* end colors sliding in ******************************************************* */

